.interests {
  padding: 20px;
  background-color: #f0f0f0;
  margin: 20px 0;
  border-radius: 8px;
}

.interests h2 {
  margin-bottom: 10px;
}

.interests ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.interests li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  flex: 1 1 100px;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}

.interests li:hover {
  transform: scale(1.05);
  background-color: #555;
}

.color1 {
  background-color: #e57373;
}

.color2 {
  background-color: #64b5f6;
}

.color3 {
  background-color: #81c784;
}

.color4 {
  background-color: #ffd54f;
}

.color5 {
  background-color: #ba68c8;
}

@media (prefers-color-scheme: dark) {
  .interests {
    background-color: #333333;
  }

  .interests li {
    color: white;
  }
}
