.about {
  padding: 20px;
  background-color: #f9f9f9;
  margin: 20px 0;
  border-radius: 8px;
}

.about h2 {
  margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
  .about {
    background-color: #333333;
  }
}
