.contactForm {
  padding: 20px;
  background-color: #e9e9e9;
  margin: 20px 0;
  border-radius: 8px;
}

.contactForm h2 {
  margin-bottom: 10px;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactForm form div {
  display: flex;
  flex-direction: column;
}

.contactForm form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contactForm form input,
.contactForm form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.contactForm form button {
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.contactForm form button:hover {
  background-color: #005bb5;
}

@media (prefers-color-scheme: dark) {
  .contactForm {
    background-color: #444444;
  }

  .contactForm form input,
  .contactForm form textarea {
    background-color: #555555;
    color: #e0e0e0;
    border: 1px solid #777777;
  }

  .contactForm form button {
    background-color: #1a73e8;
  }

  .contactForm form button:hover {
    background-color: #0b56d0;
  }
}

@media (max-width: 600px) {
  .contactForm form {
    gap: 10px;
  }

  .contactForm form input,
  .contactForm form textarea {
    padding: 8px;
    font-size: 0.9rem;
  }

  .contactForm form button {
    padding: 8px;
    font-size: 0.9rem;
  }
}
