.header {
  text-align: center;
  margin: 20px 0;
}

.profileImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid #000000;
}

@media (prefers-color-scheme: dark) {
  .profileImage {
    border: 2px solid #e0e0e0;
  }
}
